.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
  width: 100%;
  background-size:cover;
  background-image:url('https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=996&t=st=1703682688~exp=1703683288~hmac=0bc3301f14961b1b3543d2d46bdef717dc105280962c44f563a2baa676a20570');
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #ffffff;
  border-radius: 16px;
  padding-top: 32px;
  padding-right: 12px;
  padding-bottom: 32px;
  padding-left: 12px;
  max-width: 550px;
  height: auto;
  margin-left: 8%;
}

@media screen and (min-width: 768px) {
  .card-container {
    width: 90%;
    max-width: 1140px;
    padding: 32px;
    height: auto;
    margin-left: 8%;
  }
}

.faqs-list {
  width: 100%;
  list-style-type: none;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .faqs-list {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .faqs-list {
    width: 80%;
  }
}

.main-heading {
  color: #cb8805;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}