
  .border {
    border-radius: 5px;
  }
  
  .AchivementsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .details {
    flex-direction: column;
    display: flex;
    align-self: flex-end;
    line-height: 0.5;
    margin-right: 5px;
  }
  
  .detailsdescription {
    color: white;
    text-align: left;
  }
  
  .myname {
    text-align: center;
    padding-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    display: inline-block; /* Ensures each letter gets its own styling */
    animation: colorChange 3s infinite;
  }
  
  @keyframes colorChange {
    0%,
    100% {
      color: #ff5733; /* Initial and final color */
    }
  
    9.09% {
      color: #33ff57; /* Color for 'T' */
    }
  
    18.18% {
      color: #5733ff; /* Color for 'e' */
    }
  
    27.27% {
      color: #ff3357; /* Color for 'j' */
    }
  
    36.36% {
      color: #33ff57; /* Color for 'a' */
    }
  
    45.45% {
      color: #5733ff; /* Color for ' ' (space) */
    }
  
    54.54% {
      color: #ff3357; /* Color for 'G' */
    }
  
    63.63% {
      color: #33ff57; /* Color for 'u' */
    }
  
    72.72% {
      color: #5733ff; /* Color for 'l' */
    }
  
    81.81% {
      color: #ff3357; /* Color for 'a' */
    }
  
    90.9% {
      color: #33ff57; /* Color for 'n' */
    }
  
    100% {
      color: #ff5733; /* Color for 'i' */
    }
  }
  
  @keyframes movingText {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-20%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  .text {
    animation-name: movingText;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    color: white;
    align-self: center;
  }
  
  .skills-card {
    background-color: #323f4b;
    border-radius: 8px;
    margin-right: 10px;
  }
  .skills-card-title {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
  }
  
  .skills-card-image {
    width: 64px;
    height: 64px;
  }
  
  .homeTopContainer {
    display: flex;
    align-items: self;
    justify-content: center;
    background-image: url('https://media.istockphoto.com/id/1337668467/vector/modern-rainbow-glow-backlight-frame.jpg?s=612x612&w=0&k=20&c=xbuNlYJsMRHstRLRkJyAW_eDaYLE6sXjQoFFo1tmFSo=');
    background-size: cover;
    flex-direction:column;
    width:100%;
    
  }
  
  .skillscontainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .myimage {
    border-radius: 100%;
    margin-top: 20px;
    align-self: center;
    height: 200px;
    width: 200px;
  }
  
  @media screen and (max-width: 500px) {
    .homeTopContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction:column;
      width:100%;
   
    }
    .details {
        align-self: flex-center;
        text-align:center
        
      }

      .detailsdescription {
        text-align: center;
      }
      
      
  }