.card-container-home {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  border-radius: 8px;
  width: 100%;
  background-image: url('https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?w=996&t=st=1703682688~exp=1703683288~hmac=0bc3301f14961b1b3543d2d46bdef717dc105280962c44f563a2baa676a20570');
  background-size: cover;
  overflow: hidden; 
}

.card-home {
  display:flex;
  align-items:center;
  justify-content:center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card-home:hover {
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.5);
}

.myimage {
  border-radius: 50%;
  width: 150px;
  transition: transform 0.3s ease; /* Add scaling transition */
}

.myimage:hover {
  transform: scale(1.1); /* Increase scale on hover for a closer effect */
}

.myname {
  font-family: 'Times New Roman', Times, serif;
  color:white;
  text-align:center;
  line-height:1;
}

.skillsContainer {
  max-width:1000px;
  width:100%;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(100px,1fr));
  gap:2rem
}

@keyframes loadingDots {
  0%,
  20% {
    content: 'Loading';
  }
  40% {
    content: 'Loading.';
  }
  60% {
    content: 'Loading..';
  }
  80%,
  100% {
    content: 'Loading....';
  }
}

.loading-text::before {
  color:white;
  content: 'Loading';
  animation: loadingDots 1.5s infinite steps(1);
  display: inline-block;
}


.skilllog {
  transition: transform 0.1s ease; /* Add scaling transition */
  
}

.skilllog:hover {
  transform: scale(1.5); /* Increase scale on hover for a closer effect */
}


@media screen and (min-width: 800px) {
  .myname {
    background: -webkit-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip:text;
    color: transparent;
    text-align:center;
  }
}

@media screen and (max-width: 700px) {
  .card-container-home  {
    height:110vh;
    padding-left:2%;
    padding-right:2%;
    
  }
}